<figure class="{{ .Get "class" }} mv3 mv5-ns center">
    <img src="https://res.cloudinary.com/dulgwo6oh/image/fetch/w_1024,h_1024,c_limit/{{ .Site.Params.imgurl }}{{ .Get "id" }}.jpg" 
        srcset="https://res.cloudinary.com/dulgwo6oh/image/fetch/w_1024,h_1024,c_limit/{{ .Site.Params.imgurl }}{{ .Get "id" }}.jpg 1024w, https://res.cloudinary.com/dulgwo6oh/image/fetch/w_1024,h_1024,c_limit/dpr_2.0/{{ .Site.Params.imgurl }}{{ .Get "id" }}.jpg 2048w" 
        alt="{{ .Get "title"}}" />
    <figcaption>
        {{ .Get "title"}}
    </figcaption>
</figure>