{{ define "main" -}}

{{ $baseurl := .Site.BaseURL }}
{{ $img := .Site.Params.imgurl }}

<div class="mw-100 mw-90-l w-100 w-90-l">
	<figure class="flex flex-column">
		<img class="center contain" src="https://ce84c173c.cloudimg.io/width/1024/n/{{ $img }}xl/{{ .Params.imageurl | safeURL }}"
									srcset="https://ce84c173c.cloudimg.io/width/1024/n/{{ $img }}xl/{{ .Params.imageurl | safeURL }} 1024w,
													https://ce84c173c.cloudimg.io/width/2048/n/{{ $img }}xl/{{ .Params.imageurl | safeURL }} 2048w,
													https://ce84c173c.cloudimg.io/width/3072/n/{{ $img }}xl/{{ .Params.imageurl | safeURL }} 3072w"
									class="" style="max-height: 85vh;">

		<figcaption class="flex flex-column flex-row-l justify-center mt1">
			<section class="tc dib tr-l f6 f4-l mb2 mr3-l">
				<span class="title">{{ .Title }}</span>
			</section>

			<section class="tc dib mb2 mr3-l">
			<div class="info">
				<a id="js-info-link" class="link gray hover-teal" title="Show EXIF data">
					<i class="fas fa-info-circle"></i>
				</a>
				<div id="js-info" class="dn white pa3 bg-black-60 tl centered w-80 w-20-l">
					<span class="f5 f4-l lh-copy tl i">{{ .Params.description }}</span>
					<table class="mt3">
						<tbody>
							<tr>
								<td class="tr pr2">Aperture</td>
								<td>{{ .Params.aperture }}</td>
							</tr>
							<tr>
								<td class="tr pr2">Speed</td>
								<td>{{ .Params.speed }}</td>
							</tr>
							<tr>
								<td class="tr pr2">Film speed</td>
								<td>{{ .Params.iso }}</td>
							</tr>
							<tr>
								<td class="tr pr2">Exposure comp.</td>
								<td>{{ .Params.expcomp }}</td>
							</tr>
							<tr>
								<td class="tr pr2">Camera</td>
								<td>{{ .Params.camera }}</td>
							</tr>
							<tr>
								<td class="tr pr2">Taken on</td>
								<td>{{ dateFormat "02/01/2006" .Params.taken_on }}</td>
							</tr>
						</tbody>
					</table>
					<div><a href="#" title="ESC to close" id="js-close-info"
							class="link br2 ba bw1 ph2 pv2 mt3 mb2 dib white bg-gray hover-bg-black">
							<i class="fas fa-times-circle"></i> Close
						</a>
					</div>
				</div><!-- popover-container -->
			</section>

			<section class="tc dib tl-l mb2">
				<span class="f6">
					{{ if isset .Params "tags" -}}
						{{ $tagsLen := len .Params.tags }}
							{{ if gt $tagsLen 0 -}}
								{{ range $k, $v := (sort .Params.tags) -}}
									<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}"
										class="link near-black bg-moon-gray hover-bg-gold br-pill ph1 ph2-l mr1 mr2-l">{{ . }}</a>
							{{- end }}
						{{- end }}
					{{- end }}
				</span>
			</section>

		</figcaption>
	</figure>
</div>

{{ partial "single-pagination" . }}

{{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
	{{ if .Site.Params.staticman }}
	<div class="staticman-comments w-90 w-90-m w-60-l center">
		{{ partial "post-comments.html" . }}
	</div>
	{{ end }}
{{ end }}

{{- end }}
