<header class="ph3 ph0-l center flex items-center justify-between contain">
    <section class="">
        <h1 class="f3 f2-ns lh-title">
            <a href="{{ .Site.BaseURL }}" class="link teal dim">{{ .Site.Title }}</a>
        </h1>
    </section>

    <section class="db-l f5 f4-ns lh-title">
        <a href="{{ .Site.BaseURL }}albums/" class="link gray hover-bg-gold br2 pv1 ph2 ml2">albums</a>
        <a href="{{ .Site.BaseURL }}tags/" class="link gray hover-bg-gold br2 pv1 ph2 ml2">tags</a>
        <a href="{{ .Site.BaseURL }}essay/" class="link gray hover-bg-gold br2 pv1 ph2 ml2">essays</a>
        <a href="{{ .Site.BaseURL }}about/" class="link gray hover-bg-gold br2 pv1 ph2 ml2">about</a>
    </section>
</header>
