<nav class="db dt-l mt3-l w-100 border-box">
    <h1 class="f5 f4-m f2-l lh-title tc tl-l dtc-l mb0">
        <a class="db dtc-l v-mid teal link dim w-100 w-50-l tc tl-l" href="{{ .Site.BaseURL }}" title="Home">
        {{ .Site.Title }}
        </a>
    </h1>
    <div class="f6 f5-m f4-l lh-title db dtc-l v-mid w-100 w-50-l tc tr-l">
        <a class="link gray hover-bg-gold br2 pv1 ph2 dib mr2 mr3-l" href="{{ .Site.BaseURL }}albums/" title="Albums">albums</a>
        <a class="link gray hover-bg-gold br2 pv1 ph2 dib mr2 mr3-l" href="{{ .Site.BaseURL }}tags/" title="Tags">tags</a>
        <a class="link gray hover-bg-gold br2 pv1 ph2 dib mr2 mr3-l" href="{{ .Site.BaseURL }}essay/" title="Essays">essays</a>
        <a class="link gray hover-bg-gold br2 pv1 ph2 dib mr2 mr3-l" href="{{ .Site.BaseURL }}about/" title="About">about</a>
    </div>
</nav>
