	{{ $baseurl := .Site.BaseURL }}
	{{ $img := .Site.Params.imgurl }}
	
	 {{ partial "breadcrumb.html" . }}
	<div class="mt4">
		<div class="flex flex-wrap items-start justify-center">
	{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "photo") 20 }}
	{{ range $paginator.Pages -}}
				<a href="{{ .Permalink }}" class="h9 h9-m h5-l mw-100 mw6-l mr2-ns mb2 contain" data-tooltip="{{ .Title }}">
					<img src="https://res.cloudinary.com/dulgwo6oh/image/fetch/w_400,h_400,c_limit/{{ $img }}{{ .Params.imageurl | safeURL }}"
						 srcset="https://res.cloudinary.com/dulgwo6oh/image/fetch/w_400,h_400,c_limit/{{ $img }}{{ .Params.imageurl | safeURL }} 400w, https://res.cloudinary.com/dulgwo6oh/image/fetch/w_400,h_400,c_limit/dpr_2.0/{{ $img }}{{ .Params.imageurl | safeURL }} 800w"
						 class="w-100 h9 h-100-l">
				</a>
	{{- end }}
		</div><!-- masonry -->
	</div><!-- container for masonry -->

