<section class="js-comments staticman-comments w-100 w-90-m w-50-l mt5 center">

  {{ $slug := replace .URL "/" "" }} 
  {{ if .Site.Data.comments }}
    {{ $comments := index $.Site.Data.comments $slug }} 
      {{ if $comments }}
        {{ if gt (len $comments) 1 }}
          <h3>{{ len $comments }} Comments</h3>
        {{ else }}
          <h3>{{ len $comments }} Comment</h3>
        {{ end }}
      {{ else }}
  <h3>No Comments</h3>
  {{ end }} 
  {{ $.Scratch.Set "hasComments" 0 }} 
  {{ range $index, $comments := (index $.Site.Data.comments $slug ) }} 
  {{ if not .parent }} 
  {{ $.Scratch.Add "hasComments" 1 }}
  <article id="comment-{{ $.Scratch.Get "hasComments" }}" class="static-comment">
    <img class="comment-avatar ba b--moon-gray br3" src="https://www.gravatar.com/avatar/{{ .email }}?s=48"> 
    {{ if .website }}
    <h4 class="comment-author">
      <a rel="external nofollow" href="{{ .website }}" class="link teal">{{ .name }}</a>
    </h4>
    {{ else }}
    <h4 class="comment-author">{{ .name }}</h4>
    {{ end }}
    <div class="comment-timestamp mb2">
      <a href="#comment-{{ $.Scratch.Get "hasComments" }}" title="Permalink to this comment">
        <time datetime="{{ .date }}" class="f6 link teal">{{ dateFormat "02 Jan 2006 at 15:04" .date}}</time>
      </a>
    </div>
    <div class="comment-content">
      <p>{{ .comment | markdownify }}</p>
    </div>
  </article>
  {{ end }} 
  {{ end }} 
  {{ end }}

  <h3>Make a comment</h3>

  <form class="js-form" method="post" action="{{ .Site.Params.staticman.api }}">
    <input type="hidden" name="options[slug]" value="{{ replace .URL "/" "" }}">
    <input type="hidden" name="options[origin]" value="{{ .Permalink }}">
    <input type="hidden" name="options[parent]" value=""> 
    {{ if .Site.Params.staticman.recaptcha }}
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.staticman.recaptcha.sitekey }}">
    <input type="hidden" name="options[reCaptcha][secret]" value="{{ .Site.Params.staticman.recaptcha.secret }}"> 
    {{ end }}

      <div class="textfield">
        <textarea class = "input-reset lh-copy" name="fields[comment]" type="text" placeholder="Comment. Markdown syntax works :-)"></textarea>
      </div>

      <div class="textfield">
        <input class = "input-reset lh-copy" name="fields[name]" type="text" placeholder="Name"/>
      </div>

      <div class="textfield">
        <input class = "input-reset lh-copy" type="email" name="fields[email]" placeholder="Email address (will not be shown publically)"/>
      </div>

      <div class="textfield">
        <input class = "input-reset lh-copy" type="text" name="fields[website]" placeholder="Website (optional)"/>
      </div>

    {{ if .Site.Params.staticman.recaptcha }}
      <div class="g-recaptcha" data-sitekey="{{ .Site.Params.staticman.recaptcha.sitekey }}"></div>
    {{ end }}

      <input class="mt2 pv2 input-reset ba br3 b--black bg-transparent hover-bg-moon-gray pointer" type="submit" value="Send" />
  </form>
</section>

<article class="modal">
  <div class="title">
    <h2 class="js-modal-title"></h2>
  </div>
  <div class="js-modal-text"></div>
  <div>
    <button class="js-close-modal">Close</button>
  </div>
</article>