<section class="js-comments staticman-comments w-100 w-90-m w-50-l mt5 center">

  {{ $slug := replace .URL "/" "" }} 
  {{ if .Site.Data.comments }}
    {{ $comments := index $.Site.Data.comments $slug }} 
      {{ if $comments }}
        {{ if gt (len $comments) 1 }}
          <h3>{{ len $comments }} Comments</h3>
        {{ else }}
          <h3>{{ len $comments }} Comment</h3>
        {{ end }}
      {{ else }}
  <h3>No Comments</h3>
  {{ end }} 
  {{ $.Scratch.Set "hasComments" 0 }} 
  {{ range $index, $comments := (index $.Site.Data.comments $slug ) }} 
  {{ if not .parent }} 
  {{ $.Scratch.Add "hasComments" 1 }}
    <article id="comment-{{ $.Scratch.Get "hasComments" }}" class="mt4 w-100 mh2 mh0-ns">
      <div class="dt w-100 pb2">
        <div class="dt-row">
        <div class="dtc w3 pr3">
          <img src="https://www.gravatar.com/avatar/{{ .email }}" class="db w-100 ba b--moon-gray br2" />
        </div>
        <div class="dtc v-top pl2">
          {{ if .website }}
          <h4 class="f6 f5-ns fw6 lh-title black mv0">
            <a rel="external nofollow" href="{{ .website }}" class="link teal">{{ .name }}</a>
          </h4>
          {{ else }}
            <h4 class="f6 f5-ns fw6 lh-title black mv0">{{ .name }}</h4>
          {{ end }}
          <a href="#comment-{{ $.Scratch.Get "hasComments" }}" class="link moon-gray hover-teal" title="Permalink to this comment">
            <time datetime="{{ .date }}" class="f6">{{ dateFormat "02 Jan 2006 at 15:04" .date}}</time>
          </a>
        </div>
        </div><!-- table row -->
        <div class="dt-row mt1">
          <div class="dtc w3 pr3">&nbsp;</div>
          <div class="comment-content dtc pl2">
            <p>{{ .comment | markdownify }}</p>
          </div>
        </div>
      </div>
    </article>
  {{ end }} 
  {{ end }} 
  {{ end }}

  <div class="mv5">
  <h3>Make a comment</h3>

  <form class="js-form w-100" method="post" action="{{ .Site.Params.staticman.api }}">
    <input type="hidden" name="options[slug]" value="{{ replace .URL "/" "" }}">
    <input type="hidden" name="options[origin]" value="{{ .Permalink }}">
    <input type="hidden" name="options[parent]" value=""> 
    {{ if .Site.Params.staticman.recaptcha }}
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.staticman.recaptcha.sitekey }}">
    <input type="hidden" name="options[reCaptcha][secret]" value="{{ .Site.Params.staticman.recaptcha.secret }}"> 
    {{ end }}

        <textarea class="input-reset ba b--moon-gray lh-copy w-100 mb3" 
                  name="fields[comment]" rows="6" type="text" 
                  placeholder="Comment. Markdown syntax works :-)"></textarea>
        <input class="input-reset ba b--moon-gray lh-copy w-100 mb3" 
                name="fields[name]" type="text" placeholder="Name"/>
        <input class="input-reset ba b--moon-gray lh-copy w-100 mb3" 
                type="email" name="fields[email]" 
                placeholder="Email address (will not be shown publicly)"/>
        <input class="input-reset ba b--moon-gray lh-copy w-100 mb3" 
               type="text" name="fields[website]" placeholder="Website (optional)"/>

    {{ if .Site.Params.staticman.recaptcha }}
      <div class="g-recaptcha mv2" data-sitekey="{{ .Site.Params.staticman.recaptcha.sitekey }}"></div>
    {{ end }}

    <div class="form__spinner"><i class="fas fa-cog fa-spin"></i> Submitting comment...</div>

      <input id="send-button" class="mt2 pv2 input-reset ba br3 b--gray bg-transparent hover-bg-moon-gray pointer" 
                              type="submit" value="Send" />
  </form>
  </div>
</section>

<article class="modal">
  <div class="title">
    <h2 class="js-modal-title"></h2>
  </div>
  <div class="js-modal-text"></div>
  <div>
    <button class="js-close-modal">Close</button>
  </div>
</article>