.bg-teal {
  background-color: #008080;
}

.teal {
    color: #008080;
}

.hover-teal:hover, 
.hover-teal:focus { color: #008080; }

.post-content a, .comment-content a {
    color: #008080;
}

.mv-auto {
    margin-left: auto;
    margin-right: auto;
}

.wow-popover {
    position: absolute;
    left: 0;
    right: 0;
    top: 33%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
 }